<a href="https://colab.research.google.com/github/Harleen2608/python/blob/main/Constructer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#default parameters
class A:
  def __init__(self):
    name="anjali"
    print(name)

obj=A()

In [14]:
class A:
  age=10
  def __init__(self):
    name="aadil"
    print(name,self.age)
obj=A()

aadil 10

In [3]:
class A:
  name="Muskan"
  age=32
  def __init__(self):
    address="Ganganagar girls clg"
    print("the default counstructer has been constructed",self.name,address)
  def show(self):
    print(self.age)
obj=A()
obj.show()

the default counstructer has been constructed Muskan Ganganagar girls clg
32

In [4]:
#Parameterized Constructers
class A:
  def __init__(harleen,age,name,address):
    address="jaipur"
    print(age,name,address)
obj=A(12,"vishnu",None)

12 vishnu jaipur

In [9]:
class A:
  name2="Lakshita"
  def __init__(args,age,name,address):
    address="jodhpur"
    print(age,name,address,args.name2)

obj=A(20,"simran",None)

20 simran jodhpur Lakshita

In [7]:
class A:
  def __init__(r):
   print("rama")
obj=A()

rama

In [2]:
class A:
  def __init__(self,age,name,address):
    print(age, " ",name,"  ",address,"  ")

obj=A(21,"yash","kota")

21   yash    kota