<a href="https://colab.research.google.com/github/Harleen2608/python/blob/main/forloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
word=input("Enter a word")
length=len(word)
for i in range((length-1),-1,-1):

  print(word[i],end="")

Enter a wordty
yt

In [ ]:
value=int(input("enter the value"))
for i in range(value):
   if i%2==0:
    print(i)

enter the value7
0
2
4
6

In [ ]:
value=int(input("enter the value"))
for i in range(0,value):

  print(i+1)

enter the value4
1
2
3
4

In [ ]:
value=int(input("enter the value"))
sum=0
for i in range(value):
   if i%2!=0:
    sum=sum+i

print(sum)

enter the value5
4

In [ ]:
value = int(input("enter the value"))
for i in range(11):
  print(value,"x",i,"=",value*i)

enter the value4
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
list1=[1,34,5.0,45.89,"radha","krishna","shyama",67]
for i in list1:
  print(i)

1
34
5.0
45.89
radha
krishna
shyama
67

In [ ]:
digit=str(input("enter a digit"))
count=0
for i in digit:
  count+=1

print(count)

enter a digit456
3

In [ ]:
original=(input("enter a string"))
reverse=""
for i in original:
  reverse = i+reverse
print(reverse)

if(original==reverse):
     print("pallindrome")
else:
     print("not a pallindrome")

enter a string1221
1221
pallindrome

In [ ]:
number=(input("enter the number"))
length=len(number)
sum=0
for i in number:
  sum+=int(i)**length


if sum== int(number):
 print("armstrong")

enter the number153
armstrong

In [ ]:
def fib(n):
  a=0
  b=1


  if n==1:
    print(a)

  else:
    print(a)
    print(b)
    for i in range(2,n):

      c=a+b
      a=b
      b=c
      print(c)


fib(15)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377