<a href="https://colab.research.google.com/github/Harleen2608/python/blob/main/lamda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
(lambda x: x + 1)(2)

3

In [ ]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('HARLEEN', 'KAUR')

'Full name: Harleen Kaur'

In [ ]:
numbers = [1, 2, 3]
print(list(map(lambda x: x + 1, numbers)))

[2, 3, 4]

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
x=lambda n:n*10
print(x(3))

30

In [ ]:
y=lambda a:a*90
print(y(9))

810

In [ ]:
m=int(input("enter a no."))
a=lambda r:r+ m
print(a(56))

enter a no.4
60

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
def myfun(n):
 return lambda a:a*n

myvar=myfun(5)
print(myvar(4))

20

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))