<a href="https://colab.research.google.com/github/Harleen2608/python/blob/main/myTuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TUPLES IN PYTHON

t1=(1,2,3,4,5,"krishna",19.89,23.09,True) #creating tuples

#UN-MUTTABLE--->unmodified and unchangeable

#t1.extend((5,6,7)) #tuple object has no extend attribute

#t1.remove(4) tuple object has no remove attribute

#t1.append(0) tuple object has no append attribute

#t1.insert(3,8) tuple object has no insert attribute

#t1.sort() tuple object has no sort attribute

print(t1)
print(t1[0:3]) #slicing of tuple3uz 1
print(len(t1)) #length of tuple
print(t1[::-1])#revesing of tuple
print(t1[4]) #indexing


t2=("radha","krishna","lakshita")

print(len(t2))#taking string as indexing

t3=t2+t1 #concatenation
print(t3)

repeated_tuple = t2*3
print(repeated_tuple)

print("krishna" in t1)
print("lakshita" not in t3)
print("lakshita"  in t2)

(1, 2, 3, 4, 5, 'krishna', 19.89, 23.09, True)
(1, 2, 3)
9
(True, 23.09, 19.89, 'krishna', 5, 4, 3, 2, 1)
5
3
('radha', 'krishna', 'lakshita', 1, 2, 3, 4, 5, 'krishna', 19.89, 23.09, True)
('radha', 'krishna', 'lakshita', 'radha', 'krishna', 'lakshita', 'radha', 'krishna', 'lakshita')
True
False
True