<a href="https://colab.research.google.com/github/Harleen2608/python/blob/main/oops_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class A:
  pass
obj=A()

In [2]:
class A:
  age=10
  print(age)
obj=A()

10

In [6]:
class A:
 def __init__(self):#self is a default parameterized reference which stores current object
  age=10
  print(age)
obj=A()
obj2=A()

10
10

In [13]:
class A:
  age=10
  """learn coding with Lakshita............."""#it will take as a comment this time
  print(age)
obj=A()
print(obj.age)
print(A.age)
print(obj.__doc__)

10
10
10
None

In [14]:
class A:
  age=10
  name="""learn coding with priya....""" #now it will print as it is take as a variable
  print(age,name)

10 learn coding with priya....

In [ ]:
class A:
  '''learn coding with me...................'''
  age=10

In [23]:
class A:
  age=60
  def fun(self):
    '''WE are here for you'''
    b="harleen"
    print(b)
obj=A()
print(obj.age)
obj.fun()
print(obj.__doc__)
print(obj.fun().__doc__)
print(obj.fun.__doc__)

60
harleen
None
harleen
None
WE are here for you

In [28]:
class A:
  age=10
  def fun(self,age,name,address):#self is a pointer
    print(age," ", name," ",address)
obj=A()
obj.fun(24,"AAdil","Jammu&kashmir")
obj.fun(23,"vinod","jaipur")

24   AAdil   Jammu&kashmir
23   vinod   jaipur

In [29]:
class A:
  age=10
  def __init__(self,age,address,name):
    print(age,"  ",name,"  ",address)
obj=A(15,"shona","jaipur")
obj=A(12,"khushi","shrinagar")

15    jaipur    shona
12    shrinagar    khushi